* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
}

header {
    background-color: rgb(255, 105, 0);
    box-shadow: 0px 5px 5px lightgrey;
}

.menu_list {
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 10px;
}

.menu_list a, .area_personale_list {
    text-decoration: none;
    color: white;
    list-style: none;
    font-weight: bold;
}

.list_hover:hover {
    text-decoration: underline;
}

#logo {
    height: 80%;
}

.area_personale_container {
    height: 100%;
    align-items: center;
}

.area_personale i {
    color: white;
    margin-left: 10px;
}

/* Debug */

.header_container {
    height: 80px;
    max-width: 1170px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.debug .logo_container {
    height: 100%;
    padding: 20px;
}

