* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
}

header {
    background-color: rgb(255, 105, 0);
    box-shadow: 0px 5px 5px lightgrey;
}

.header_container {
    height: 80px;
    max-width: 1170px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.menu_list {
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 10px;
}

.menu_list a, .area_personale_list {
    text-decoration: none;
    color: white;
    list-style: none;
    font-weight: bold;
}

.list_hover:hover {
    text-decoration: underline;
}

.logo_container {
    height: 40%;
}

.area_personale_container {
    height: 100%;
    align-items: center;
}

.area_personale i {
    color: white;
    margin-left: 10px;
}

.main_container {
    max-width: 1170px;
    margin: 80px auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    width: calc(100% / 3 - 10px);
    position: relative;
    margin: 10px 0px;
}

.product_img {
    width: 100%;
}

.product_img_hidden {
    width: 100%;
    margin-bottom: 4px;
    display: none;
}

.tag_preferito {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.tag_preferito:hover {
    color: red;
}

.tag_container {
    position: absolute;
    left: 0;
    bottom: 100px;
}

.tag {
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 10px;
    margin-right: 5px;
}

.sconto {
    background-color: red;
}

.eco {
    background-color: green;
}

.brand {
    color: grey;
    font-size: 0.8rem;
}

.description {
    font-weight: bold;
    text-transform: capitalize;
}

.price_discount {
    font-size: 0.8rem;
    color: red;
    font-weight: bold;
    margin-right: 5px;
}

.price_no_discount {
    font-size: 0.8rem;
    color: grey;
    text-decoration: line-through;
}

.product_img_container:hover .product_img {
    display: none;
}

.product_img_container:hover .product_img_hidden {
    display: block;
}




